@import "tailwindcss";



.product-items{
width: 100%;
/* height: 260px; */
margin-bottom:20px ;
border-radius: 5px;
cursor: pointer;
border: 1px solid green;
padding: 5px;
margin: 10px 5px;
transition: all 1s;
}

.product-items:hover{
    transform: translatey(-10px);
}
.product-items h2{ 
    font-size: 22px;
    font-weight: 500;
}
.product-items img {
    border-radius: 5px;
    width: 100%;
    height: 180px;
object-fit: cover;
}
.productTitle{
    text-align: center;
}
.Categories{
    background-color:aqua;
    display: flex;
    
}
.add-button{
    justify-content: space-between;
}
.main-prodcut-container{
    width: 100%;
    background-color: rgba(233, 255, 233, 0.562);
}
.prodcut-container{
    margin: 20px 50px;
}

.category-wrapper {
  width: 100%;
  padding: 20px;
}

.category-title {
  margin-bottom: 15px;
  text-align: left;
  margin-left: 30px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 20px;
  margin: 0px 33px;
}

.category-card {
  width: 100%;
  height: 170px;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.category-img {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight:bold;
  color: #333;
}
