.navbar{
    background-color: rgb(144, 21, 201);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    color: white;
}
.leftNavbar{
width: 50%;
display: flex;
justify-content: space-between;

} 
.leftArea ul{
    display: flex;
    gap: 20px;
}
.rightNavbar{
width: 50%;

}
.rightNavbar ul{
display: flex;
justify-content: flex-end;
gap: 10px;
margin-right: 20px;
/* gap: 10px; */
}
.navbarlogo{
    margin-left: 20px;
    cursor: pointer;
}
